<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item List</title>
</head>
<body>
<div th:replace="~{nav.html :: navbar}"></div>
<h1>Items</h1>
<div th:each="item : ${items}">
    <img src="https://placehold.co/300">
    <div>
        <a th:href="@{'/detail/' + ${item.id} }">
            <h4 th:text="${item.title}"></h4>
        </a>
        <a th:href="@{'/update/' + ${item.id} }">✏️</a>
    </div>
</div>
</body>
</html>
