<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Item</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div th:replace="~{nav.html :: navbar}"></div>
<div class="detail">
    <h4>아이템 수정</h4>

    <form action="/updatepost" method="POST">
        <input type="hidden" name="id" th:value="${item.id}">
        <input name="title" th:value="${item.title}">
        <input name="price" th:value="${item.price}">
        <button type="submit">수정</button>
    </form>
</div>
</body>
</html>